.container {
  width: 50vw;
  height: 100vh;
  padding: 10px 30px;
}

.header {
  font-size: 4.6rem;
}

.fetchButton {
  font-size: 1rem;
}

.inputTodo {
  width: 70%;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 2.6rem;
}

.addButton {
  font-size: 2.5rem;
}

.list {
  font-size: 2.6rem;
}

.todoText {
  padding: 0 0 0 10px;
}
