@import '~@/app/common/styleVars';

@mixin bar {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
  height: 3px;
  background-color: $progress_bar_color;
}

.idle {
  @include bar;

  left: -100vw;
}

.running {
  @include bar;

  left: -10vw;
  transition-timing-function: ease-out;
  transition-duration: 4s;
}

.closing {
  @include bar;

  // NOTE: At least one change is needed in order to override the new transition-duration value
  left: 100vw;
  transition-duration: 0.3s;
}
