.icon {
  margin-right: 1.2rem;
  font-size: 2.2rem;
}

.navbarDefault {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #fafafa;
  border-bottom: 1px solid #dadada;
}

.navbarBrand {
  margin: 1rem;
  padding-top: 0.3125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3125rem;
  padding-bottom: 0.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbarText {
  display: inline-block;
  margin: 0 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: #0056b3;
  font-size: 0;
  line-height: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.button:hover {
  color: #007bff;
}

.loginLink {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: #0252a8;
  border: solid 2px #0252a8;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}

.loginLink:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
