.pageTitle {
  margin-bottom: 20px;
  overflow: hidden;
  font-weight: bold;
  font-size: 2.5rem;
  text-overflow: ellipsis;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.contentArea {
  flex-grow: 1;
}

.additional {
  color: #aaa;
  font-size: small;
}

.question {
  margin-bottom: 2rem;
}

.infoArea {
  width: 30px;
  margin: 0 20px 0 10px;
}

.mainArea {
  display: flex;
}

.loading {
  width: 60px;
  margin: auto;
  margin-top: 100px;
}

.errorEmpty {
  display: inline-block;
  margin-left: 10px;
  color: tomato;
  font-size: 1.3rem;
}
