.isActive {
  color: #888 !important;
  cursor: pointer !important;
}

.voteArrow {
  margin-left: -5px;
  color: #ccc;
  font-size: 1.8em;
  cursor: not-allowed;
}

.voteCount {
  color: #888;
  font-size: 1.8em;
}
