.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: fixed;
  left: 10%;
  z-index: 1;
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
}

.close {
  float: right;
  font-weight: bold;
  font-size: 2.8rem;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
