$modalContentWidth: 800px;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: fixed;
  top: 100px;
  left: calc((100vw - #{$modalContentWidth}) / 2);
  z-index: 1;
  width: $modalContentWidth;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
}

.header {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 2.5rem;
}

.icon {
  margin-right: 12px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
