.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.additional {
  color: #aaa;
  font-size: small;
}

.center {
  margin-top: 50px;
  text-align: center;
}

.inline {
  display: inline-block;
}
