.list {
  display: flex;
  align-items: center;
  margin: 7px 0;
  padding-left: 15px;
  font-size: 2.6rem;
  border: solid #c3c3c3;
  border-width: 1px 0 1px 1px;
  border-radius: 5px 0 0 5px;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s;

  &:hover {
    opacity: 0.8;
  }
}

.checkbox {
  transform: scale(1.5);
}

.todoText {
  margin: 0;
  padding: 0 0 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.deleteButton {
  width: 40px;
  height: 40px;
  margin-left: auto;
  color: white;
  font-size: 1.8rem;
  background: rgb(202, 60, 60);

  &:hover {
    opacity: 0.85;
  }
}
