.container {
  padding: 10px 30px;
  width: 50vw;
  height: 100vh;
}

.header {
  font-size: 4.6rem;
}

.inputId,
.inputPassword {
  padding: 0 10px;
  width: 40%;
  font-size: 1.6rem;
}

.loginButton {
  font-size: 1rem;
}
